body{
	background:purple;
	margin:0;
}
#header{
background:green;
height:50px;
font-size:20px;
text-align:center;
margin:0px;
}	
#header h1{margin-top:0px;}
#navigation ul{
background:orange;
margin:10px;
text-align:center;
}
#navigation ul li{
list-style-type:none;
padding:5px;
display:inline-block;
}
#navigation ul li a:link {
    color: #FF0000;
}
#navigation ul li a:visited {
    color: #00FF00;
}
#navigation ul li a:hover {
    color: #FF00FF;
	background-color:black;
}
#navigation ul li a:active {
    color: #0000FF;
}
.text1{
		background-color:#e5e4d7;
		margin:10px 360px 10px 10px;
		border-radius:5px;
		padding:20px;
		font-size:110%;
		
			}	
	
.schedule{
	background-color:#e5e4d7;
	font-size:105%;
	padding:20px;
	width:300px;
	border-radius:5px;
	margin:5px 10px 10px 10px;
	float:right;
	clear:right;
	opacity:1.0;
	transition:opacity 0.5s ease-in-out;
	}
	.schedule:hover{
	opacity:0.6;
	background:yellow;
	}
	.schedule p{
		background-color:green;
		padding:5px;
		margin:2px;
		border-radius:5px;
		text-align:center;
	}
	.schedule box{
		color:white;
	}
